{% extends 'startpage/list.html' %}

{% block title %} 
    <h5>Importar excel <i class="fas fa-file-import" ></i> </h5>
{% endblock %}

{% block options %} 
    {% include 'files/options_import.html' %}
{% endblock %}
    {% block columns %}
                    <th scope="col">RUC</th>
                    <th scope="col">Nombre comercial</th>
                    <th scope="col">Nombre representate</th>
                    <th scope="col">Apellido representate</th>
                    <th scope="col">Tipico Negocio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Valor a pagar</th>
                    <th scope="col">Peticiones</th>
                    <th scope="col">Notificar</th>
    {% endblock %}

    {% block rows %} 
                {% for i in persons %}
    
                <tr>
                    <td> {{i.RUC}} </td>
                    <td> {{i.nombrecomercial}} </td>
                    <td> {{i.nombrerepresentante}} </td>
                    <td> {{i.apellidorepresentante}} </td>
                    <td> {{i.negociotipo}} </td>
                    <td> {{i.describenegocio}} </td>
                    <td> {{i.valorpagar}} </td>
                    <td> {{i.peticiones}} </td>
    
                    <td class=" d-flex justify-content-center" >
                        <button type="button" class="btn btn-ms btn-danger  ">Notificar</button>

                    </td>
                </tr>
    
            {% endfor %}

    {% endblock %}

